<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find gx2019_omni_simulations)/map/map.yaml"/>

  <!-- Turtlebot3 -->
  <include file="$(find gx2019_omni_simulations)/launch/gx2019_simulation.launch"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find gx2019_omni_simulations)/launch/amcl.launch"/>

  <!-- move_base -->
  <!-- <include file="$(find gx2019_omni_simulations)/launch/move_base.launch"/> -->

</launch>
